<!DOCTYPE html>
block variables

html(lang="fr")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{title}
        link(rel="stylesheet", href='layout.css')
        block css
    body
     header
            h1 3310 Blog
    block content